<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comp3617.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.comp3617.bitcoinCasino.RealtimeBitcoinCasinoApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.comp3617.bitcoinCasino.Activity_Main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.comp3617.bitcoinCasino.TabFragment_Coins_Buy" />
        <activity android:name="com.comp3617.bitcoinCasino.TabFragment_Asset_Sell"></activity>
    </application>

</manifest>